<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Test Suite" parallel="false" verbose="1">
    <test name="All Functional Tests">
        <classes>
            <class name="claim.ViewClaimTest"/>
            <class name="MyInfoTest.PersonalDetailsTest"/>
            <class name="AdminPageTest"/>
            <class name="DirectoryTest"/>
            <class name="LoginTest"/>
            <class name="PerformancePageTest"/>
            <class name="RecruitmentTest"/>
            <class name="BuzzTest"/>
            <class name="MaintenanceTest"/>
        </classes>
    </test>
</suite>
